@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* font-family: "Ultra", serif; -h1/h2 */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: "Shrikhand", serif; - 메뉴타이틀 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/*font-family: "Comfortaa", sans-serif; - 영어제목*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nanum+Gothic&family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", sans-serif; - 영어본문 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nanum+Gothic&display=swap');
/* font-family: "Nanum Gothic", sans-serif; - 한글본문 */
body{
  background-color: #FEF8EC;
  overflow-x: hidden;
}
/* header */
.t_hidden{
  display: block;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /* top.left안써도 됨 */
}

.mouseC img{  
  width: 35px;
  transition: 0.1s;
  position: absolute;
  z-index: 9999;
}
header{
  width: 100%;
  height: 100px;
}
header .header_inner{
  width: 90%;
  height: 5vw;
  margin: auto;
  margin-top: 20px;
  background-color: #F4E3B6;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
header .header_inner h1{
  width: 100px;
}
header .header_inner h1 img{
  width: 100px;
}
header .header_inner nav ul{
  display: flex;
}
header .header_inner .util ul{
  display: flex;
  align-items: center;
}
header .header_inner nav ul li{
  margin-right: 2vw;
  font-family: "Shrikhand", serif;
  /* font-size: 23px; */
  font-size: 1.5vw;
  color: #381806;
}
header .header_inner .util ul li{
  /* margin-right: 40px; */
  margin-right: 2vw;
  font-family: "Shrikhand", serif;
  /* font-size: 23px; */
  font-size: 1.2vw;
  color: #381806;
}
header .header_inner .util li:last-child{
  max-width: 4vw;
}
header .header_inner .util ul .cookie{
  width: 80%;
}
header .header_inner nav ul li:hover,
header .header_inner .util ul li:hover{
  color: #2BB679;
}

.menuB{
  border: none;
  background-color: transparent;
  display: none;
  position: absolute;
  right: 0px;
  top: 23px;
}
.menuB img{
  width: 30%;
}
/* //header */


/* Mobile-menu */

.m_menu{
  width: 100%;
  height: 100%;
  background-color: #FFCCCE;
  padding: 0 50px;
  position: fixed;
  top: 0;
  /* left: 0; */
  right: -100%;
  z-index: 997;
  color: #381806;
  font-family: "Ultra", serif;
}
.m_menu ul{
  height: 100%;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
}
.m_menu ul li{
 margin-bottom: 50px;
 text-align: left;
 font-size: 4.5vw;

}
.m_menu ul .sear{
  background-color: #F4E3B6;
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.m_menu ul .input{
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 15px;
}
.m_menu ul li button{
  background-color: transparent;
  color: #381806;
  border: none;
}
.m_menu ul .sear img{
  width: 20px;
  height: 20px;
}
.m_menu ul .right{
  background-color: transparent;
  color: #381806;
  border: none;
}

.closeB{
  border: none;
  background-color: transparent;
  position: absolute;
  top: 25px;
  right: 25px;
}
/* //Mobile-menu */

/* main */
main{
  width: 100%;
  height: 100%;
  background: linear-gradient(#FEF8EC, #FFCCCE);
}
main .main_inner{
  /* max-width: 90%; */
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 12vw 0;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main .main_inner .ML_title{
  width: 100%;
  height: 100%;
  position: relative;
  width: 40%;
  height: 80%;
  z-index: 99;
}
main .main_inner .ML_title p{
  font-family: "Ultra", serif;
  font-size: 8vw;
  line-height: 7vw;
}
main .main_inner .ML_title .green{
  color: #2BB679;
}
main .main_inner .ML_title .brown{
  color: #381806;
}
main .main_inner .ML_title .blue{
  color: #0465A8;
  margin-bottom: 20px;
}
main .main_inner .ML_title span{
  display: block;
  width: 100%;
  height: 50%;
  line-height:20px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
}
main .main_inner .MR_banner{
  width: 100%;
  height: 100%;
  position: relative;
}
main .main_inner .MR_banner img{
  width: 100%;
}
main .main_inner .ML_title .M_viewmore button{
  background-color: #ED604A;
  border: none;
  width: 55%;
  padding: 1.5vw 2vw;
  border-radius: 50px;
  font-family: "Shrikhand", serif;
  font-size: 1.5vw;
  color: #FEF8EC;
  margin-top: 3vw;
}
/* //main */

/* section 01 */
.sec1{
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFCCCE, #FEF8EC);
  overflow: hidden;
  
}
.sec1 .sec1_title{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 7vw;
}
.sec1 .sec1_title h2{
  font-family: "Ultra", serif; 
  font-size: 3vw;
  color: #381806;
}
.sec1 .sec1_allbox{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7vw;
}
.sec1 .sec1_allbox .sec1L_contents{
  width: 20%;
}
.sec1 .sec1_allbox .sec1L_contents .sec1L_con_text p,
.sec1 .sec1_allbox .sec1R_contents .sec1R_con_text p{
  font-family: "Shrikhand", serif;
  font-size: 1.8vw;
  line-height: 3vw;
  text-align: center;
  color: #381806;
  width: 100%;
  height: 50%;
  letter-spacing: 0.5vw;
}
.sec1 .sec1_allbox .sec1_vid{
  width: 60%;
  height: 100%;
  margin: auto;
}
.sec1 .sec1_allbox .sec1_vid video{
  width: 100%;
  border-radius: 30px;
  /* margin-bottom: 7vw; */
}
.sec1 .sec1_allbox .sec1R_contents{
  width: 20%;
}
.sec1 .sec1_allbox .sec1R_contents .sec1R_con_text{
  margin-top: 30px;
  text-align: center;
}
/* //section 01 */

/* section 02 */
.sec2{
  width: 100%;
  height: 100%;
}
.sec2 .sec2_title{
  width: 100%;
  height: 100%;
  margin-top: 2vw;
  margin-bottom: 7vw;
}
.sec2 .sec2_title h2{
  font-family: "Ultra", serif; 
  font-size: 3vw;
  color: #381806;
  text-align: center;
}
.sec2 .sec2_cont .row .greenice{
  border-radius: 30px;
}
.sec2 .sec2_cont .sec2_bluebox{
  background-color: #0465A8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2 .sec2_cont .sec2_bluebox ul{
  list-style: disc;
}
.sec2 .sec2_cont .sec2_bluebox ul li{
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  line-height: 30px;
  /* font-size: 1.5vw; */
  /* line-height: 2vw; */
  color: #fff;
  margin-top: 30px;
}
.sec2 .sec2_cont .sec2_bluebox ul li:first-child{
  margin-top: 0;
}
.sec2 .sec2_cont .icon_allbox{
  margin-top: 80px;
}
.sec2 .sec2_cont .icon_allbox img{
  margin: 10px auto;
}
.sec2 .sec2_cont .icon_allbox .iconbox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.sec2 .sec2_cont .icon_allbox .iconbox .icon1, .icon2, .icon3, .icon4{
  border: 3px solid #ED604A;
  border-radius: 30px;
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec2 .sec2_cont .icon_allbox .iconbox .icon2{
  background-color: #ED604A;
}
.sec2 .sec2_cont .icon_allbox .iconbox .icon2 span{
  color: #FEF8EC;
}
.sec2 .sec2_cont .icon_allbox .noti{
  color: #ED604A;
  text-align: center;
  font-size: 1vw;
}
.sec2 .sec2_cont .icon_allbox span{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  display: block;
  margin: 10px auto;
  color: #ED604A;
}
.sec2 .sec2_cont .icon_allbox p{
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-size: 0.7vw;
  margin: 10px auto;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5{
  border: 3px solid #ED604A;
  border-radius: 30px;
  width: 100%;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text{
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.4vw;
  line-height: 10px;
  margin: 15px;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: right;
  color: #888;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p span{
  font-size: 0.7vw;
  font-weight: 700;
  text-align: left;
  margin: 0;
  color: #381806;
}

/* //section 02 */

/* section 03_textbox */
.sec3_textbox:nth-of-type(1){
  margin-top: 20vw;
}
.textall{
  width: 300%;
  height: 100%;
  overflow: hidden;
}
.sec3_textbox{
  width: 300%;
  height: 100%;
  line-height: 4vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: "Shrikhand", serif;
  font-size: 1.9vw;
  word-spacing: 0.8vw;
  /* font-size: 36px; */
  /* line-height: 80px; */
  animation: sec3_textbox 100s infinite linear;
}
@keyframes sec3_textbox{
  100%{
    transform:  translateX(-100%);
  }
}
.sec3_textbox p{
  display: inline-block;
  white-space: nowrap;
}
.sec3_textbox .red{color: #ED604A;}
.sec3_textbox .ivory{color: #F4E3B6;}
.sec3_textbox .green{color: #2BB679;}
.sec3_textbox .brown{color: #381806;}
.sec3_textbox .blue{color: #0465A8;}

.sec3_textbox .red{color: #ED604A;}
.sec3_textbox .ivory{color: #F4E3B6;}
.sec3_textbox .brown{color: #381806;}
.sec3_textbox .green{color: #2BB679;}
.sec3_textbox .blue{color: #0465A8;}
/* section 03_textbox */

/* section 03 */
.sec3{
  width: 100%;
  height: 100%;
  margin-top: 20vw;  
  background: linear-gradient(#FEF8EC, #D9F3FF);
  position: relative;

}
.sec3 .container{
  max-width: 1140px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec3 .container p{
  font-family: "Ultra", serif;
  font-size: 8vw;
  line-height: 12vw;
  position: relative;
  z-index: 99;
}
.sec3 .container p:nth-child(1){color: #ED604A;}
.sec3 .container p:nth-child(2){color: #F4E3B6;}
.sec3 .container p:nth-child(3){color: #381806;}
.sec3 .container p:nth-child(4){color: #2BB679;}
.sec3 .container p:nth-child(5){color: #381806;}
.sec3 .container p:nth-child(6){color: #0465A8;}
.sec3 .container .st{
  position: absolute;
}
.sec3 .container .butter{
  left: 480px;
  top: -180px;
}
.sec3 .container .crepe{
  left: 250px;
  top: 250px;
}
.sec3 .container .pink_drink{
  left: 350px;
  bottom: 150px;
}
.sec3 .container .melon{
  right: 400px;
  top: 10px;
}
.sec3 .container .cherry{
  right: 38%;
  top: 450px;
}
.sec3 .container .cake{
  right: 150px;
}
.sec3 .container .icecream{
  right: 350px;
  bottom: -100px;
}
/* //section 03 */


/* section 04 */
.sec4{
  width: 100%;
  height: 100%;
  background-color: #D9F3FF;
  overflow: hidden;
  padding-top: 15vw;
}
.sec4 .sec4_title{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10vw;
}
.sec4 .sec4_title h2{
  font-family: "Ultra", serif; 
  font-size: 3vw;
  color: #381806;
}
.sec4 .sec4_allbox{
  display: flex;
}
.sec4 .sec4_allbox img{
  border-radius: 35px;
  padding: 0 3%;
}
.sec4 .sec4_allbox .Tbox{
  padding: 10px;
}
.sec4 .sec4_allbox h2{
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 2%;
  padding-left: 10px;
}
.sec4 .sec4_allbox .grey{
  color: #777;
  font-size: 14px;
  padding-left: 20px;
  margin-top: 10px;
}
.sec4 .sec4_allbox .red{
  color: red;
  padding-left: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.sec4 .sec4_allbox p{
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.sec4 .sec4_allbox{
  width: 100%;
  max-width: 1140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px auto;
  }
.sec4 .sec4_allbox .box{
  width: 100%;
  height: 100%;
  margin: auto;
}
.sec4 .sec4_allbox button{
  border: none;
  background-color: transparent;
}

.sec4 .sec4_logo{
  width: 100%;
  height: 100%;
  margin: 7rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4 .sec4_logo h2 img{
  width: 16vw;
}
/* //section 04 */

/* section 05 */
.sec5{
  width: 100%;
  height: 350px;
  background-color: #D9F3FF;
  position: relative;
}

.sec5 .onover .imgbox .imgs{
  margin: 0 auto;
  position: absolute;
}

/* //section 05 */

/* section 06 */
.sec6{
  width: 100%;
  height: 100%;
  background-color: #D9F3FF;
  padding-bottom: 5vw;
}
.sec6 .container .row .textbox h4{
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.sec6 .container .row .textbox strong{
  display: block;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: red;
  margin-bottom: 20px;
  padding-left: 10px;

}
.sec6 .container .row .textbox p{
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  line-height: 2vw;
  padding-left: 10px;
}
/* //section 06 */

/* footer */
footer{
  width: 100%;
  height: 100%;
  background-color: #381806;
  color: #FEF8EC;
}
.foot_menu{
  justify-content: space-between;
}
.foot_menu .menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .menu li{
  font-family: "Quicksand", sans-serif;
  font-size: 1.5vw;
  line-height: 3vw;
  text-align: center;
}
footer .menu li:first-child{
  font-family: "Shrikhand", serif;
  font-size: 2vw;
  margin-top: 50px;
  text-align: center;
}
footer .menu .red{color: #ED604A;}
footer .menu .ivory{color: #F4E3B6;}
footer .menu .green{color: #2BB679;}
footer .menu .blue{color: #0465A8;}

footer .F_search{
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Fsearch_bar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .F_search input{
  display: block;
  background-color: #F4E3B6;
  border: none;
  border-radius: 50px;
  width: 40vw;
  height: 4vw;
}
.Fsearch_bar .lr{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.Fsearch_bar .lr button{
  border: none;
  background-color: transparent;
  position: absolute;
}
.Fsearch_bar .lr .left{
  top: 30%;
  left: 20%;
}
.Fsearch_bar .lr .right{
  top: 30%;
  right: 20%;
}


/* //footer */





