@media screen and (max-width:1700px){
  header .header_inner h1 img{
    width: 150px;
  }
  .Fsearch_bar .lr .left{
    left: 25%;
  }
  .Fsearch_bar .lr .right{
    right: 25%;
  }
}

@media screen and (max-width:1500px){
  header .header_inner h1 img{
    width: 70%;
  }
  main .main_inner{
    padding: 7vw 0;
  }
  .sec3 .container img{
    width: 70%;
  }
  .Fsearch_bar .right{
    display: none;
  }
}

@media screen and (max-width:1400px){
  .Fsearch_bar .lr .left{
    left: 30%;
  }
  .Fsearch_bar .lr .left img{
    width: 80%;
  }
}

@media screen and (max-width:1280px){
  header{
    height: 80px;
    /* display: none; */
  }
  header .header_inner{
    width: 90%;
    height: 80px;
    margin: 30px auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0 20px;
  }
  header .header_inner h1{
    margin: auto;
  }
  header .header_inner h1 a{
    display: flex;
    justify-content: center;
  }
  header .header_inner h1 img{
    width: 90%;
    margin-left: 120px;
  }
  header .header_inner nav ul{
    display: none;
  }
  header .header_inner .util ul{
    display: none;
  }
  .menuB{
    display: block;
    width: 150px;
    margin-right: -50px;
  }
  .sec4 .sec4_allbox .box{
    width: 150%;
    height: 100%;
    margin: 0 45px;
  }
}

@media screen and (max-width:1200px){
header .header_inner{
  width: 90%;
  height: 100%;
  margin: 30px auto;
}
  header .header_inner h1 img{
    width: 110px;
  }
  header .header_inner nav ul li{
    font-size: 1.2vw;
  }
  header .header_inner .util ul li{
    font-size: 1.2vw;
  }
  main .main_inner{
    padding: 5vw 0;
  }
  .sec2 .sec2_cont .sec2_bluebox ul li{
    font-size: 20px;
    line-height: 25px;
  }
  .sec3_textbox:nth-of-type(1){
    margin-top: 15vw;
  }
  .sec3 .container .butter{
    left: 300px;
    top: -130px;
  }
  .sec3 .container .crepe{
    left: 200px;
    top: 200px;
  }
  .sec3 .container .pink_drink{
    left: 150px;
    bottom: 100px;
  }
  .sec3 .container .melon{
    right: 150px;
    top: 10px;
  }
  .sec3 .container .cherry{
    right: 38%;
    top: 450px;
  }
  .sec3 .container .cake{
    right: 50px;
  }
  .sec3 .container .icecream{
    right: 100px;
    bottom: -100px;
  }

  .sec5 .onover .imgbox .left figure img{
    width: 98%;
  }
  .sec5 .onover .imgbox .right figure img{
    width: 98%;
  }
  .Fsearch_bar .left{ 
    top: 10px;
  }
  .Fsearch_bar button img{
    width: 70%;
  }
 
}


@media screen and (max-width:991px) {
  header .header_inner{
    padding: 0 20px;
  }
  .menuB{
    display: block;
  }
  .sec2 .sec2_cont .sec2_bluebox ul li{
    font-size: 15px;
    line-height: 15px;
  }
  .sec4 .sec4_allbox .box{
    width: 150%;
    height: 100%;
    margin: 0 42px;
  }
  .sec4 .sec4_allbox .grey{
    font-size: 12px;
  }
  .sec4 .sec4_allbox p{
    font-size: 14px;
  }
  .sec6 .container .row .textbox{
    width: 90%;
  }
  .sec6 .container .row .textbox p{
    line-height: 20px;
  }
  footer .menu li:first-child{
    font-size: 2vw; 
  }
}

@media screen and (max-width:950px) {
  header{
    height: 100%;
  }
  header .header_inner{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header_inner h1 img{
    width: 100px;
  }
  main .main_inner{
    padding: 5vw 0;
  }
  header .header_inner h1{
    width: 120px;
  }
  main .main_inner .ML_title{
    width: 35%;
  }
  main .main_inner .ML_title span{
    line-height: 1.2vw;
  }
  .sec3_textbox:nth-of-type(1){
    margin-top: 10vw;
  }
  .sec3 .container img{
    width: 60%;
  }
  .sec3 .container .butter{
    left: 250px;
    top: -130px;
  }
  .sec3 .container .crepe{
    left: 100px;
    top: 200px;
  }
  .sec3 .container .pink_drink{
    left: 150px;
    bottom: 50px;
  }
  .sec3 .container .melon{
    right: 100px;
    top: 10px;
  }
  .sec3 .container .cherry{
    right: 350px;
    top: 200px;
  }
  .sec3 .container .cake{
    right: -70px;
  }
  .sec3 .container .icecream{
    right: 20px;
    bottom: -70px;
  }
  .Fsearch_bar .lr .left{
    left: 28%;
  }
  .Fsearch_bar .lr .left img{
    width: 50%;
  }

}

@media screen and (max-width:767px) {
  header{
    height: 100%;
  }
  header .header_inner{
    height: 60px;
    padding: 0 20px;
  }
  header .header_inner h1 img{
    width: 70px;
  }
  .menuB{
    width: 120px;
  }
  main .main_inner .ML_title{
    width: 30%;
  }

  header .header_inner nav ul li{
    font-size: 1.2vw;
    justify-content: center;
  }
  main .main_inner .MR_banner{
    width: 100%;
  }
  main .main_inner .MR_banner img{
    height: 40vw;
    width: 65vw;
  }
  .sec2 .sec2_cont .sec2_bluebox ul li{
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }
  .sec2 .sec2_cont .icon_allbox{
    margin-top: 50px;
  }
  .sec2 .sec2_cont .icon_allbox .iconbox{
    margin-bottom: 10px;
  }
  .sec2 .sec2_cont .icon_allbox span{
    font-size: 1.5vw;
  }
  .sec2 .sec2_cont .icon_allbox p{
    font-size: 1.2vw;
  }
  .sec2 .sec2_cont .icon_allbox .noti{
    font-size: 2vw;
  }
  .sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p{
    font-size: 1.5vw;
  }
  .sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p span{
    font-size: 1.5vw;
  }
  .sec3 .container img{
    width: 50%;
  }
  .sec3 .container .butter{
    left: 200px;
    top: -70px;
    width: 40%;
  }
  .sec3 .container .crepe{
    left: 100px;
    top: 100px;
  }
  .sec3 .container .pink_drink{
    left: 70px;
    bottom: 50px;
    width: 45%;
  }
  .sec3 .container .melon{
    right: 20px;
    top: 10px;
  }
  .sec3 .container .cherry{
    right: 215px;
    top: 130px;
  }
  .sec3 .container .cake{
    right: -120px;
  }
  .sec3 .container .icecream{
    right: -90px;
    bottom: -70px;
  }
  .sec4 .sec4_allbox .box{
    width: 100%;
    height: 100%;
    margin: 0 42px;
  }
  .sec4 .sec4_allbox .grey{
    font-size: 12px;
  }
  .sec4 .sec4_allbox p{
    font-size: 12px;
  }
  .sec5 .onover .imgbox .left{
    margin-bottom: 30px;
    margin: 0 1%;
  }
  .sec5 .onover .imgbox .right{
    display: none;
  }
  .sec6 .container .row .textbox{
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .sec6 .container .row .t2{
    display: none;
  }
  footer .menu li:first-child{
    font-size: 3vw;
  }
}


@media screen and (max-width:575px) {
  header{
    height: 80px;
  }
  header .header_inner{
    padding: 0;
  }
  header .header_inner h1{
    width: 100px;
  }
  header .header_inner h1 img{
    width: 70%;
    margin-left: 50px;
  }
  header .header_inner nav{
    display: none;
  }
  header .header_inner .util{
    display: none;
  }
  .menuB{
    width: 100px;
  }
  
  main .main_inner .ML_title .blue{
    margin-bottom: 10px;
  }
  main .main_inner .ML_title span{
    height: 60%;
  }
  main .main_inner .MR_banner{
    max-width: 1500px;
    height: 100%;
  }
  main .main_inner .MR_banner img{
    width: 65vw;
    height: 45vw;
  }
  main .main_inner .ML_title .M_viewmore button{
    padding: 1vw 1.5vw;
  }
  .sec2 .sec2_cont{
   width: 90%;
   height: 100%;
   margin: 0 auto;
  }
  .sec2 .sec2_cont .sec2_bluebox ul{
    padding: 40px 0;
  }
  .sec2 .sec2_cont .sec2_bluebox ul li{
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
  }
  .sec2 .sec2_cont .icon_allbox .iconbox{
    flex-wrap: wrap;
  }
  .sec2 .sec2_cont .icon_allbox .iconbox .icon1, .icon2, .icon3, .icon4{
    width: 49%;
    height: 100%;
    margin-bottom: 10px;
  }
  .sec2 .sec2_cont .icon_allbox span{
    font-size: 3vw;
  }
  .sec2 .sec2_cont .icon_allbox p{
    font-size: 2.5vw;
  }
  .sec2 .sec2_cont .icon_allbox .noti{
    font-size: 3vw;
  }
  .sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p{
    font-size: 2.5vw;
  }
  .sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p span{
    font-size: 2.5vw;
  }
  .sec4{
    padding-top: 10vw;
  }
  .sec5 .onover .imgbox .left figure img{
    width: 90%;
  }
  .sec6 .container .row .textbox p{
    font-size: 15px;
  }
  .Fsearch_bar .lr .left{
    left: 30%;
  }
  .Fsearch_bar .lr .left img{
    width: 45%;
  }
  .sec4 .sec4_allbox p{
    width: 72%;
    height: 100%;
  }
  footer .menu li{
    font-size: 2vw;
  }
}

@media screen and (max-width:500px){
  main .main_inner .ML_title span{
    line-height: 1.2vw;

  }
  .sec3 .container img{
    width: 40%;
  }
  .sec3 .container .butter{
    left: 150px;
    top: -40px;
    width: 40%;
  }
  .sec3 .container .crepe{
    left: 70px;
    top: 50px;
  }
  .sec3 .container .pink_drink{
    left: 70px;
    bottom: 50px;
    width: 45%;
  }
  .sec3 .container .melon{
    right: -30px;
    top: -20px;
  }
  .sec3 .container .cherry{
    right: 140px;
    top: 100px;
  }
  .sec3 .container .cake{
    right: -150px;
  }
  .sec3 .container .icecream{
    right: -150px;
    bottom: -50px;
  }
  footer .menu li{
    font-size: 2vw;
  }
  .Fsearch_bar .lr .left{
    left: 30%;
  }
  .Fsearch_bar .lr .left img{
    width: 30%;
  }
  footer .F_search{
    margin-top: 50px;
    padding-bottom: 50px;
  }

}

@media screen and (max-width:400px){
  .sec3 .container .cherry{
    right: 100px;
    top: 70px;
  }
  .sec3 .container .icecream{
    right: -30px;
    bottom: -30px;
    width: 50%;
  }
  /* 이미지 크기 크게하고싶음 */
  .sec4 .sec4_allbox .box img{
    width: 100%;
  }
  .sec6 .container .row .textbox h4{
    font-size: 18px;
  }
  .sec6 .container .row .textbox strong{
    font-size: 18px;
  }
  .Fsearch_bar .lr .left img{
    width: 25%;
  }
  .m_menu ul .left img,
  .m_menu ul .right img{
    width: 50%;
  }
}
