@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* font-family: "Ultra", serif; -h1/h2 */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: "Shrikhand", serif; - 메뉴타이틀 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/*font-family: "Comfortaa", sans-serif; - 영어제목*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nanum+Gothic&family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", sans-serif; - 영어본문 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nanum+Gothic&display=swap');
/* font-family: "Nanum Gothic", sans-serif; - 한글본문 */
body{
  background-color: #FEF8EC;
  overflow-x: hidden;
}
a{text-decoration: none; color: inherit;}
.t_hidden{
  display: block;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
}

/* haeder */
header{
  width: 100%;
  height: 100px;
}
header .header_inner{
  width: 90%;
  height: 100px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F4E3B6;
  border-radius: 50px;
  padding: 0 100px;
  position: relative;
}
header .header_inner h1{
  width: 120px;
}
header .header_inner h1 img{
  max-width: 100px;
}
header .header_inner nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #381806;
}
header .header_inner nav ul li{
  font-family: "Shrikhand", serif;
  font-size: 1.7rem;
  margin-left: 30px;
}
header .header_inner .util ul{
  display: flex;
  align-items: center;
  color: #381806;
}
header .header_inner .util ul li{
  font-family: "Shrikhand", serif;
  font-size: 1.5rem;
  margin-left: 30px;
}
header .header_inner .util ul li:last-child{
  width: 100%;
}
header .header_inner .util ul .cookie{
  max-width: 50px;
}
header .header_inner nav ul li:hover,
header .header_inner .util ul li:hover{
  color: #2BB679;
}
.utilall{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* //haeder */

/* hidden menu -1280px */
.menuB{
  border: none;
  background-color: transparent;
  margin-left: 30px;
}
.menuB img{
  width: 100%;
  max-width: 40px;
}

/* Mobile-menu */
.m_menu{
  width: 100%;
  height: 100%;
  background-color: #FFCCCE;
  padding: 0 50px;
  position: fixed;
  top: 0;
  display: none;
  z-index: 997;
  color: #381806;
  font-family: "Ultra", serif;
}
.m_menu ul{
  height: 100%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
.m_menu ul li{
  margin-bottom: 40px;
  text-align: left;
  font-size: 3rem;
 }
 .m_menu ul .sear{
  background-color: #F4E3B6;
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.m_menu ul .input{
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 15px;
}
.m_menu ul li button{
  background-color: transparent;
  color: #381806;
  border: none;
}
.m_menu ul .left{
  background-color: transparent;
  color: #381806;
  border: none;
  width: 50px;
}
.m_menu ul .right{
  background-color: transparent;
  color: #381806;
  border: none;
  width: 50px;
}
.m_menu ul .left img,
.m_menu ul .right img{
  width: 100%;
}
.closeB{
  border: none;
  background-color: transparent;
  position: absolute;
  top: 25px;
  right: 25px;
}
/* //Mobile-menu */


/* main */
main{
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background: linear-gradient(#FEF8EC, #FFCCCE);
}
main .main_inner{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .main_inner .ML_title{
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  transform: translateX(0% 0%);
  z-index: 90;
}
main .main_inner .ML_title p{
  font-family: "Ultra", serif;
  font-size: 10rem;
  line-height: 8rem;
}
main .main_inner .ML_title .green{
  color: #2BB679;
}
main .main_inner .ML_title .brown{
  color: #381806;
}
main .main_inner .ML_title .blue{
  color: #0465A8;
  margin-bottom: 4rem;
}
main .main_inner .ML_title span{
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 5rem;
}
main .main_inner .ML_title .M_viewmore{
  width: 50%;
  height: 100%;
}
main .main_inner .ML_title .M_viewmore button{
  width: 50%;
  height: 100%;
  padding: 30px;
  border: none;
  border-radius: 50px;
  background-color: #ED604A;
  color: #FEF8EC;
  font-family: "Shrikhand", serif;
  font-size: 1.5rem;
}
main .main_inner .MR_banner{
  width: 65%;
  height: 100%;
  position: absolute;
  right: 0;
}
main .main_inner .MR_banner img{ 
  width: 100%;
  height: 100%; 
}
/* //main */

/* sec 01 */
.sec1{
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFCCCE, #FEF8EC);
  overflow: hidden;
}
.sec1 .sec1_title{
  text-align: center;
  margin: 10rem auto;
}
.sec1 .sec1_title h2{
  font-family: "Ultra", serif; 
  font-size: 3rem;
  color: #381806;
}
.sec1 .sec1_allbox{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20rem;
  text-align: center;
}
.sec1 .sec1_allbox .sec1L_contents{
  width: 20%;
}
.sec1 .sec1_allbox .sec1_vid{
  width: 60%;
}
.sec1 .sec1_allbox .sec1_vid video{
  width: 100%;
  border-radius: 30px;
}
.sec1 .sec1_allbox .sec1R_contents{
  width: 20%;
}
.sec1 .sec1_allbox .sec1L_contents .sec1L_con_text p,
.sec1 .sec1_allbox .sec1R_contents .sec1R_con_text p{
  font-family: "Shrikhand", serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #381806;
  letter-spacing: 0.5rem;
}
/* //sec 01 */

/* sec 02 */
.sec2{
  width: 100%;
  height: 100%;
}

.sec2 .sec2_title{
  text-align: center;
  margin-bottom: 10rem;
}
.sec2 .sec2_title h2{
  font-family: "Ultra", serif; 
  font-size: 3rem;
  color: #381806;
}
.sec2 .sec2_cont .sec2_bluebox{
  background-color: #0465A8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2 .sec2_cont .sec2_bluebox ul{
  list-style: disc;
}
.sec2 .sec2_cont .sec2_bluebox ul li{
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
  color: #fff;
}
.sec2 .sec2_cont .sec2_bluebox ul li:first-child{
  margin-top: 0;
}
/* icon */
.sec2 .sec2_cont .icon_allbox{
  margin-top: 5rem;
  margin-bottom: 15rem;
}
.sec2 .sec2_cont .icon_allbox img{
  margin: 10px auto;
  height: 30px;
}
.sec2 .sec2_cont .icon_allbox .iconbox{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec2 .sec2_cont .icon_allbox .iconbox .icon1, .icon2, .icon3, .icon4{
  border: 3px solid #ED604A;
  border-radius: 20px;
  width: 24%;
  line-height: 3rem;
  text-align: center;
}
.sec2 .sec2_cont .icon_allbox .iconbox .icon2{
  background-color: #ED604A;
}
.sec2 .sec2_cont .icon_allbox .iconbox .icon2 span{
  color: #FEF8EC;
}
.sec2 .sec2_cont .icon_allbox .noti{
  color: #ED604A;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}
.sec2 .sec2_cont .icon_allbox span{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  display: block;
  color: #ED604A;
}
.sec2 .sec2_cont .icon_allbox p{
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5{
  border: 3px solid #ED604A;
  border-radius: 20px;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text{
  font-family: "Nanum Gothic", sans-serif;
  line-height: 2.5rem;
  padding: 0 15px;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-size: 0.8rem;
  color: #888;
}
.sec2 .sec2_cont .icon_allbox .iconbox2 .icon5 .noti_text p span{
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: #381806;
}
/* //sec 02 */

/* textDeco */
.textall{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.sec3_textbox{
  width: 100%;
  height: 100%;
  line-height: 4rem;
  display: flex;
  align-items: center;
  /* background-color: #fff; */
  font-family: "Shrikhand", serif;
  font-size: 2rem;
  word-spacing: 0.5rem;
  animation: sec3_textbox 100s infinite linear;
}
@keyframes sec3_textbox{
  100%{
    transform:  translateX(-100%);
  }
}
.sec3_textbox p{
  display: inline-block;
  white-space: nowrap;
}
.sec3_textbox .red{color: #ED604A;}
.sec3_textbox .ivory{color: #F4E3B6;}
.sec3_textbox .green{color: #2BB679;}
.sec3_textbox .brown{color: #381806;}
.sec3_textbox .blue{color: #0465A8;}

.sec3_textbox .red{color: #ED604A;}
.sec3_textbox .ivory{color: #F4E3B6;}
.sec3_textbox .brown{color: #381806;}
.sec3_textbox .green{color: #2BB679;}
.sec3_textbox .blue{color: #0465A8;}
/* //textDeco */

/* sec 03 */
.sec3{
  width: 100%;
  height: 100%;
  margin-top: 20rem;
  background: linear-gradient(#FEF8EC, #D9F3FF);
  position: relative;
}
.sec3 .container{
  max-width: 1140px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec3 .container p{
  font-family: "Ultra", serif;
  font-size: 10rem;
  line-height: 15rem;
  position: relative;
  z-index: 99;
}
.sec3 .container p:nth-child(1){color: #ED604A;}
.sec3 .container p:nth-child(2){color: #F4E3B6;}
.sec3 .container p:nth-child(3){color: #381806;}
.sec3 .container p:nth-child(4){color: #2BB679;}
.sec3 .container p:nth-child(5){color: #381806;}
.sec3 .container p:nth-child(6){color: #0465A8;}

.sec3 .container .st{
  position: absolute;
  width: fit-content;
}
.sec3 .container .butter{
  left: 480px;
  top: -180px;
}
.sec3 .container .crepe{
  left: 250px;
  top: 250px;
}
.sec3 .container .pink_drink{
  left: 350px;
  bottom: 150px;
}
.sec3 .container .melon{
  right: 400px;
  top: 10px;
}
.sec3 .container .cherry{
  right: 38%;
  top: 450px;
}
.sec3 .container .cake{
  right: 150px;
}
.sec3 .container .icecream{
  right: 350px;
  bottom: -100px;
}
/* //sec 03 */

/* sec 04 */
.sec4{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 20rem;
  background-color: #D9F3FF;
}
.sec4 .sec4_title{
  text-align: center;
  margin-bottom: 10rem;
}
.sec4 .sec4_title h2{
  font-family: "Ultra", serif; 
  font-size: 3rem;
  color: #381806;
}
.sec4 .sec4_allbox{
  width: 100%;
  max-width: 1140px;
  height: 100%;
  display: flex;
  }
  .sec4 .sec4_allbox .box{
    /* width: calc(100%/6); */
    width: 20%;
    height: 100%;
    padding: 0 0.5%;
    overflow-x: hidden;
  }
  .sec4 .sec4_allbox .box img{
    width: 100%;
  }
  .sec4 .sec4_allbox h2{
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    margin: 15px auto;
  }
  .sec4 .sec4_allbox .grey{
    color: #777;
    font-size: 14px;
    padding: 10px;
  }
  .sec4 .sec4_allbox .red{
    color: red;
    padding-left: 10px;
    font-weight: 700;
  }
  .sec4 .sec4_allbox p{
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
    margin-top: 15px;
  }
  .sec4 .sec4_allbox button{
    border: none;
    background-color: transparent;
  }
  .sec4 .sec4_logo{
    width: 100%;
    height: 100%;
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* //sec 04 */

/* sec 05 */
.sec5{
  background-color: #D9F3FF;
  width: 100%;
}
.sec5 .onover .imgbox{
  width: 100%;
  height: 400px;
  position: relative;
}
.sec5 .onover .imgbox .imgs{
  position: absolute;
}

.sec5 .container .row .textbox h4{
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.sec5 .container .row .textbox strong{
  display: block;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: red;
  margin-bottom: 20px;
  padding-left: 10px;

}
.sec5 .container .row .textbox p{
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  line-height: 2vw;
  padding-left: 10px;
  margin-bottom: 3rem;
}
/* //sec 05 */


/* footer */
footer{
  width: 100%;
  height: 100%;
  background-color: #381806;
  color: #FEF8EC;
  text-align: center;
  overflow: hidden;
}
footer .footer_inner{
  width: 100%;
  height: 100%;
  margin: 10rem auto;
}
.foot_menu{
  display: flex;
  justify-content: space-between;
}
footer .menu li{
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  line-height: 3rem;
}
footer .menu li:first-child{
  font-family: "Shrikhand", serif;
  font-size: 2rem;
  margin-top: 50px;
  text-align: center;
}
footer .menu .red{color: #ED604A;}
footer .menu .ivory{color: #F4E3B6;}
footer .menu .green{color: #2BB679;}
footer .menu .blue{color: #0465A8;}

footer .F_search{
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.Fsearch_bar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .F_search input{
  display: block;
  background-color: #F4E3B6;
  border: none;
  border-radius: 50px;
  width: 40rem;
  height: 4rem;
}
.Fsearch_bar .lr{
  width: 40rem;
  display: flex;
  justify-content: space-between;
}
.Fsearch_bar .lr button{
  border: none;
  background-color: transparent;
  position: absolute;
}
.Fsearch_bar .lr .left{
  top: 30%;
  left: 25%;
}
.Fsearch_bar .lr .right{
  top: 30%;
  right: 25%;
}
/* //footer */